In [ ]:
# Step 1: Explore Abia State Budget Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw_data/abia_budget_2023.csv')
df.head(10)

,Ministry,LGA,Approved_Budget_2023,Actual_Expenditure_2023
0,Education,Aba North,250000000,198000000
1,Education,Aba South,280000000,265000000
2,Health,Umuahia North,180000000,172000000
3,Health,Osisioma,90000000,85000000
4,Works & Infrastructure,All LGAs,1200000000,980000000
5,Agriculture,Ohafia,120000000,110000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Ministry                 6 non-null      object
 1   LGA                      6 non-null      object
 2   Approved_Budget_2023     6 non-null      int64
 3   Actual_Expenditure_2023  6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

In [4]:
df.describe()

       Approved_Budget_2023  Actual_Expenditure_2023
count          6.000000e+00             6.000000e+00
mean           3.533333e+08             3.016667e+08
std            4.211255e+08             3.384439e+08
min            9.000000e+07             8.500000e+07
25%            1.350000e+08             1.255000e+08
50%            2.150000e+08             1.850000e+08
75%            2.725000e+08             2.482500e+08
max            1.200000e+09             9.800000e+08

In [5]:
# Save the cleaned version for next step
df.to_csv('../cleaned_data/cleaned_budget_2023.csv', index=False)
print("Cleaned file saved successfully!")

Cleaned file saved successfully!