In [3]:
# Step 2: Load Real Budget Data into the Data Warehouse

In [4]:
# Run this only once
!pip install psycopg2-binary --quiet

import pandas as pd
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')

In [5]:
# ←←← CHANGE ONLY THIS LINE WITH YOUR REAL PASSWORD ←←←
password = "ONYESO080658"   

# This builds the secret connection link
engine = create_engine(f"postgresql://postgres:ONYESO080658@db.hgiaqjkmjijiplblmmua.supabase.co:5432/postgres")

In [10]:
# CELL 4 — FINAL VERSION: ONLY LOADS FACT TABLE (dimensions already exist)

df = pd.read_csv('../raw_data/abia_budget_2023.csv')

# We ONLY load the fact table now — dimensions are already there!
fact = pd.DataFrame({
    'date_key': 1,   # All our data is for 2023 → date_key = 1
    
    # Manual key mapping (safe and clear)
    'lga_key':      [1, 2, 3, 4, 5, 6],   # Aba North=1, Aba South=2, etc.
    'ministry_key': [1, 1, 2, 2, 3, 4],   # Education=1, Health=2, Works=3, Agric=4
    
    'approved_budget_2023':    df['Approved_Budget_2023'].tolist(),
    'actual_expenditure_2023': df['Actual_Expenditure_2023'].tolist()
})

# Load only the fact table
fact.to_sql('fact_budget_expenditure', engine, if_exists='append', index=False)

print("SUCCESS!")
print("6 REAL Abia State budget rows are now LIVE in your data warehouse!")
print("Run the next cell to see them!")

SUCCESS!
6 REAL Abia State budget rows are now LIVE in your data warehouse!
Run the next cell to see them!

In [11]:
# Run this to see your live data
pd.read_sql("SELECT * FROM fact_budget_expenditure", engine)

,fact_id,date_key,lga_key,ministry_key,approved_budget_2023,actual_expenditure_2023,budget_variance
0,1,1,1,1,250000000,198000000,52000000
1,2,1,2,1,280000000,265000000,15000000
2,3,1,3,2,180000000,172000000,8000000
3,4,1,4,2,90000000,85000000,5000000
4,5,1,5,3,1200000000,980000000,220000000
5,6,1,6,4,120000000,110000000,10000000